# Виртуальное окружение
venv/
.env/
.venv/
env/

# Компилированный питон
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# IDE
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store

# Рабочие данные и отчёты
data/
reports/

# Но при этом оставляем образцы данных
!data_sample/
